body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 100%;
  background-image: url("../images/connectwork.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 65%;
  margin: 0 auto;
}

hr {
  margin: .4rem auto;
}

h2 {
  font-size: 2rem;
  color: white;
}

p {
  font-size: 1rem;
  color: white;  
  margin: .50em;
}

.comp-number {
  color: white;
  font-size: 1.6rem;
  margin: .8rem auto;
}

.win-loss  {
  margin: .8rem auto;
}

.loss {
  color: red;
}

.gem {
  width: 4rem;
  height: 4rem;
  margin: 0 .2rem;
}

.score {
  font-size: 1.6rem;
  color: gold;
}

.score-value {
  font-size: 1.6rem;
  color: gold;
}